## Prediccion del Precio de una Casa

In [27]:
import pandas as pd
from sklearn.cross_validation import train_test_split
#from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [28]:
_file = '//Users/hfarias/Doctorado/1-2017/NN/Parte3/house/housing.csv'

In [29]:
df = pd.read_csv(_file, delim_whitespace=True ,header=None, names=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX','RM', 'AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV'])

In [30]:
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

(b) Normalice los datos antes de trabajar. Determine la conveniencia de realizar esta operacion.

> El dataset esta compuesto por 14 columnas de las cuales 12 son del tipo **float64** y 2 del tipo **int64** por lo que es recomendable normalizar estos datos porque si nos damos cuenta los datos estan en escalas muy diferentes que al momento de entrenar la red tendran impacto directo (mayor responsabilidad en la salida) que no esta necesariamente ligado a su aporte real en terminos de clasificación.

In [31]:
def normalizar(_dataset,_centrando,_escalado):
    df_train, df_test= train_test_split(_dataset, test_size=0.25, random_state=0)
        
    scaler = preprocessing.StandardScaler(with_mean=_centrando, with_std=_centrando)
    scaler = scaler.fit(df_train)
    
    XtrN = pd.DataFrame(scaler.transform(df_train),columns=df_train.columns)    
    XteN = pd.DataFrame(scaler.transform(df_test),columns=df_test.columns)  
    
    print "Dimenciones dataset = "+str(_dataset.shape)
    print "Tamaño dataset de entrenamiento  = "+str(len(XtrN.index))
    print "Tamaño dataset de testing  = "+str(len(XteN.index))
    return XtrN,XteN

In [36]:
_centrando = True
_escalado  = True

In [37]:
XtrN,XteN = normalizar(df,_centrando,_escalado)

Dimenciones dataset = (506, 14)
Tamaño dataset de entrenamiento  = 379
Tamaño dataset de testing  = 127

In [38]:
YtrN = XtrN.pop('MEDV')
YteN = XteN.pop('MEDV')

In [39]:
XtrN.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.390600,0.426370,-0.744914,-0.265747,-1.078733,-1.021961,0.051970,1.994571,-0.278328,-0.427994,0.278789,0.340496,0.822121
1,-0.401276,0.552534,-0.849018,-0.265747,-0.889119,-0.556963,-0.764286,1.505651,-0.162916,-0.696853,0.552877,0.427749,-0.462417

> La ultima columna es la media del valor de la propiedad, y la meta de la red es poder predecir este valor con las entradas anteriores.